[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sol-lib/forge-std"]
	path = sol-lib/forge-std
	url = https://github.com/foundry-rs/forge-std
